{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://cognito-idp.amazonaws.com/"
        },
        {
            "url": "http://cognito-idp.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>Using the Amazon Cognito User Pools API, you can create a user pool to manage directories and users. You can authenticate a user to obtain tokens related to user identity and access policies.</p> <p>This API reference provides information about user pools in Amazon Cognito User Pools.</p> <p>For more information, see the Amazon Cognito Documentation.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Cognito Identity Provider",
        "version": "2016-04-18",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cognito-idp-2016-04-18.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "cognito-idp"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/cognito-idp/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds additional user attributes to the user pool schema.",
                "operationId": "AddCustomAttributes",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the response from the server for the request to add custom attributes.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UserImportInProgressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the request to add custom attributes.",
                                "properties": {
                                    "CustomAttributes": {
                                        "description": "An array of custom attributes, such as Mutable and Name.",
                                        "items": {
                                            "description": "Contains information about the schema attribute.",
                                            "properties": {
                                                "AttributeDataType": {
                                                    "description": "The attribute data type.",
                                                    "enum": [
                                                        "String",
                                                        "Number",
                                                        "DateTime",
                                                        "Boolean"
                                                    ],
                                                    "type": "string"
                                                },
                                                "DeveloperOnlyAttribute": {
                                                    "description": "Specifies whether the attribute type is developer only.",
                                                    "type": "boolean"
                                                },
                                                "Mutable": {
                                                    "description": "<p>Specifies whether the value of the attribute can be changed.</p> <p>For any user pool attribute that's mapped to an identity provider attribute, you must set this parameter to <code>true</code>. Amazon Cognito updates mapped attributes when users sign in to your application through an identity provider. If an attribute is immutable, Amazon Cognito throws an error when it attempts to update the attribute. For more information, see <a href=\"http://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-specifying-attribute-mapping.html\">Specifying Identity Provider Attribute Mappings for Your User Pool</a>.</p>",
                                                    "type": "boolean"
                                                },
                                                "Name": {
                                                    "description": "A schema attribute of the name type.",
                                                    "maxLength": 20,
                                                    "minLength": 1,
                                                    "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                    "type": "string"
                                                },
                                                "NumberAttributeConstraints": {
                                                    "description": "Specifies the constraints for an attribute of the number type.",
                                                    "properties": {
                                                        "MaxValue": {
                                                            "description": "The maximum value of an attribute that is of the number data type.",
                                                            "type": "string"
                                                        },
                                                        "MinValue": {
                                                            "description": "The minimum value of an attribute that is of the number data type.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Required": {
                                                    "description": "Specifies whether a user pool attribute is required. If the attribute is required and the user does not provide a value, registration or sign-in will fail.",
                                                    "type": "boolean"
                                                },
                                                "StringAttributeConstraints": {
                                                    "description": "Specifies the constraints for an attribute of the string type.",
                                                    "properties": {
                                                        "MaxLength": {
                                                            "description": "The maximum length.",
                                                            "type": "string"
                                                        },
                                                        "MinLength": {
                                                            "description": "The minimum length.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 25,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "UserPoolId": {
                                        "description": "The user pool ID for the user pool where you want to add custom attributes.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "UserPoolId",
                                    "CustomAttributes"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AdminAddUserToGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds the specified user to the specified group.</p> <p>Requires developer credentials.</p>",
                "operationId": "AdminAddUserToGroup",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UserNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "GroupName": {
                                        "description": "The group name.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                        "type": "string"
                                    },
                                    "UserPoolId": {
                                        "description": "The user pool ID for the user pool.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                        "type": "string"
                                    },
                                    "Username": {
                                        "description": "The username for the user.",
                                        "format": "password",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "UserPoolId",
                                    "Username",
                                    "GroupName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AdminConfirmSignUp": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Confirms user registration as an admin without using a confirmation code. Works on any user.</p> <p>Requires developer credentials.</p>",
                "operationId": "AdminConfirmSignUp",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the response from the server for the request to confirm registration.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnexpectedLambdaException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UserLambdaValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyFailedAttemptsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InvalidLambdaResponseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "UserNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the request to confirm user registration.",
                                "properties": {
                                    "UserPoolId": {
                                        "description": "The user pool ID for which you want to confirm user registration.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                        "type": "string"
                                    },
                                    "Username": {
                                        "description": "The user name for which you want to confirm user registration.",
                                        "format": "password",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "UserPoolId",
                                    "Username"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AdminCreateUser": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new user in the specified user pool.</p> <p>If <code>MessageAction</code> is not set, the default is to send a welcome message via email or phone (SMS).</p> <note> <p>This message is based on a template that you configured in your call to or . This template includes your custom sign-up instructions and placeholders for user name and temporary password.</p> </note> <p>Alternatively, you can call AdminCreateUser with “SUPPRESS” for the <code>MessageAction</code> parameter, and Amazon Cognito will not send any email. </p> <p>In either case, the user will be in the <code>FORCE_CHANGE_PASSWORD</code> state until they sign in and change their password.</p> <p>AdminCreateUser requires developer credentials.</p>",
                "operationId": "AdminCreateUser",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the response from the server to the request to create the user.",
                                    "properties": {
                                        "User": {
                                            "description": "The newly created user.",
                                            "properties": {
                                                "Attributes": {
                                                    "description": "A container with information about the user type attributes.",
                                                    "items": {
                                                        "description": "Specifies whether the attribute is standard or custom.",
                                                        "properties": {
                                                            "Name": {
                                                                "description": "The name of the attribute.",
                                                                "maxLength": 32,
                                                                "minLength": 1,
                                                                "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "The value of the attribute.",
                                                                "format": "password",
                                                                "maxLength": 2048,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "Enabled": {
                                                    "description": "Specifies whether the user is enabled.",
                                                    "type": "boolean"
                                                },
                                                "MFAOptions": {
                                                    "description": "The MFA options for the user.",
                                                    "items": {
                                                        "description": "Specifies the different settings for multi-factor authentication (MFA).",
                                                        "properties": {
                                                            "AttributeName": {
                                                                "description": "The attribute name of the MFA option type.",
                                                                "maxLength": 32,
                                                                "minLength": 1,
                                                                "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                                "type": "string"
                                                            },
                                                            "DeliveryMedium": {
                                                                "description": "The delivery medium (email message or SMS message) to send the MFA code.",
                                                                "enum": [
                                                                    "SMS",
                                                                    "EMAIL"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "UserCreateDate": {
                                                    "description": "The creation date of the user.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "UserLastModifiedDate": {
                                                    "description": "The last modified date of the user.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "UserStatus": {
                                                    "description": "<p>The user status. Can be one of the following:</p> <ul> <li> <p>UNCONFIRMED - User has been created but not confirmed.</p> </li> <li> <p>CONFIRMED - User has been confirmed.</p> </li> <li> <p>ARCHIVED - User is no longer active.</p> </li> <li> <p>COMPROMISED - User is disabled due to a potential security threat.</p> </li> <li> <p>UNKNOWN - User status is not known.</p> </li> </ul>",
                                                    "enum": [
                                                        "UNCONFIRMED",
                                                        "CONFIRMED",
                                                        "ARCHIVED",
                                                        "COMPROMISED",
                                                        "UNKNOWN",
                                                        "RESET_REQUIRED",
                                                        "FORCE_CHANGE_PASSWORD"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Username": {
                                                    "description": "The user name of the user you wish to describe.",
                                                    "format": "password",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UserNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UsernameExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidPasswordException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "CodeDeliveryFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "UnexpectedLambdaException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "UserLambdaValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "InvalidLambdaResponseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "PreconditionNotMetException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "InvalidSmsRoleAccessPolicyException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "491": {
                        "description": "InvalidSmsRoleTrustRelationshipException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "492": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "493": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "494": {
                        "description": "UnsupportedUserStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "495": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the request to create a user in the specified user pool.",
                                "properties": {
                                    "DesiredDeliveryMediums": {
                                        "description": "Specify <code>\"EMAIL\"</code> if email will be used to send the welcome message. Specify <code>\"SMS\"</code> if the phone number will be used. The default value is <code>\"SMS\"</code>. More than one value can be specified.",
                                        "items": {
                                            "enum": [
                                                "SMS",
                                                "EMAIL"
                                            ],
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "ForceAliasCreation": {
                                        "description": "<p>This parameter is only used if the <code>phone_number_verified</code> or <code>email_verified</code> attribute is set to <code>True</code>. Otherwise, it is ignored.</p> <p>If this parameter is set to <code>True</code> and the phone number or email address specified in the UserAttributes parameter already exists as an alias with a different user, the API call will migrate the alias from the previous user to the newly created user. The previous user will no longer be able to log in using that alias.</p> <p>If this parameter is set to <code>False</code>, the API throws an <code>AliasExistsException</code> error if the alias already exists. The default value is <code>False</code>.</p>",
                                        "type": "boolean"
                                    },
                                    "MessageAction": {
                                        "description": "Set to <code>\"RESEND\"</code> to resend the invitation message to a user that already exists and reset the expiration limit on the user's account. Set to <code>\"SUPPRESS\"</code> to suppress sending the message. Only one value can be specified.",
                                        "enum": [
                                            "RESEND",
                                            "SUPPRESS"
                                        ],
                                        "type": "string"
                                    },
                                    "TemporaryPassword": {
                                        "description": "<p>The user's temporary password. This password must conform to the password policy that you specified when you created the user pool.</p> <p>The temporary password is valid only once. To complete the Admin Create User flow, the user must enter the temporary password in the sign-in page along with a new password to be used in all future sign-ins.</p> <p>This parameter is not required. If you do not specify a value, Amazon Cognito generates one for you.</p> <p>The temporary password can only be used until the user account expiration limit that you specified when you created the user pool. To reset the account after that time limit, you must call <code>AdminCreateUser</code> again, specifying <code>\"RESEND\"</code> for the <code>MessageAction</code> parameter.</p>",
                                        "format": "password",
                                        "maxLength": 256,
                                        "minLength": 6,
                                        "pattern": "[\\S]+",
                                        "type": "string"
                                    },
                                    "UserAttributes": {
                                        "description": "<p>An array of name-value pairs that contain user attributes and attribute values to be set for the user to be created. You can create a user without specifying any attributes other than <code>Username</code>. However, any attributes that you specify as required (in or in the <b>Attributes</b> tab of the console) must be supplied either by you (in your call to <code>AdminCreateUser</code>) or by the user (when he or she signs up in response to your welcome message).</p> <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the attribute name.</p> <p>To send a message inviting the user to sign up, you must specify the user's email address or phone number. This can be done in your call to AdminCreateUser or in the <b>Users</b> tab of the Amazon Cognito console for managing your user pools.</p> <p>In your call to <code>AdminCreateUser</code>, you can set the <code>email_verified</code> attribute to <code>True</code>, and you can set the <code>phone_number_verified</code> attribute to <code>True</code>. (You can also do this by calling .)</p> <ul> <li> <p> <b>email</b>: The email address of the user to whom the message that contains the code and username will be sent. Required if the <code>email_verified</code> attribute is set to <code>True</code>, or if <code>\"EMAIL\"</code> is specified in the <code>DesiredDeliveryMediums</code> parameter.</p> </li> <li> <p> <b>phone_number</b>: The phone number of the user to whom the message that contains the code and username will be sent. Required if the <code>phone_number_verified</code> attribute is set to <code>True</code>, or if <code>\"SMS\"</code> is specified in the <code>DesiredDeliveryMediums</code> parameter.</p> </li> </ul>",
                                        "items": {
                                            "description": "Specifies whether the attribute is standard or custom.",
                                            "properties": {
                                                "Name": {
                                                    "description": "The name of the attribute.",
                                                    "maxLength": 32,
                                                    "minLength": 1,
                                                    "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value of the attribute.",
                                                    "format": "password",
                                                    "maxLength": 2048,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Name"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "UserPoolId": {
                                        "description": "The user pool ID for the user pool where the user will be created.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                        "type": "string"
                                    },
                                    "Username": {
                                        "description": "The username for the user. Must be unique within the user pool. Must be a UTF-8 string between 1 and 128 characters. After the user is created, the username cannot be changed.",
                                        "format": "password",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                        "type": "string"
                                    },
                                    "ValidationData": {
                                        "description": "<p>The user's validation data. This is an array of name-value pairs that contain user attributes and attribute values that you can use for custom validation, such as restricting the types of user accounts that can be registered. For example, you might choose to allow or disallow user sign-up based on the user's domain.</p> <p>To configure custom validation, you must create a Pre Sign-up Lambda trigger for the user pool as described in the Amazon Cognito Developer Guide. The Lambda trigger receives the validation data and uses it in the validation process.</p> <p>The user's validation data is not persisted.</p>",
                                        "items": {
                                            "description": "Specifies whether the attribute is standard or custom.",
                                            "properties": {
                                                "Name": {
                                                    "description": "The name of the attribute.",
                                                    "maxLength": 32,
                                                    "minLength": 1,
                                                    "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value of the attribute.",
                                                    "format": "password",
                                                    "maxLength": 2048,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Name"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "UserPoolId",
                                    "Username"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AdminDeleteUser": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes a user as an administrator. Works on any user.</p> <p>Requires developer credentials.</p>",
                "operationId": "AdminDeleteUser",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UserNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the request to delete a user as an administrator.",
                                "properties": {
                                    "UserPoolId": {
                                        "description": "The user pool ID for the user pool where you want to delete the user.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                        "type": "string"
                                    },
                                    "Username": {
                                        "description": "The user name of the user you wish to delete.",
                                        "format": "password",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "UserPoolId",
                                    "Username"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AdminDeleteUserAttributes": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the user attributes in a user pool as an administrator. Works on any user.</p> <p>Requires developer credentials.</p>",
                "operationId": "AdminDeleteUserAttributes",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the response received from the server for a request to delete user attributes.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UserNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the request to delete user attributes as an administrator.",
                                "properties": {
                                    "UserAttributeNames": {
                                        "description": "<p>An array of strings representing the user attribute names you wish to delete.</p> <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the attribute name.</p>",
                                        "items": {
                                            "maxLength": 32,
                                            "minLength": 1,
                                            "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "UserPoolId": {
                                        "description": "The user pool ID for the user pool where you want to delete user attributes.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                        "type": "string"
                                    },
                                    "Username": {
                                        "description": "The user name of the user from which you would like to delete attributes.",
                                        "format": "password",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "UserPoolId",
                                    "Username",
                                    "UserAttributeNames"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AdminDisableProviderForUser": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Disables the user from signing in with the specified external (SAML or social) identity provider. If the user to disable is a Cognito User Pools native username + password user, they are not permitted to use their password to sign-in. If the user to disable is a linked external IdP user, any link between that user and an existing user is removed. The next time the external user (no longer attached to the previously linked <code>DestinationUser</code>) signs in, they must create a new user account. See .</p> <p>This action is enabled only for admin access and requires developer credentials.</p> <p>The <code>ProviderName</code> must match the value specified when creating an IdP for the pool. </p> <p>To disable a native username + password user, the <code>ProviderName</code> value must be <code>Cognito</code> and the <code>ProviderAttributeName</code> must be <code>Cognito_Subject</code>, with the <code>ProviderAttributeValue</code> being the name that is used in the user pool for the user.</p> <p>The <code>ProviderAttributeName</code> must always be <code>Cognito_Subject</code> for social identity providers. The <code>ProviderAttributeValue</code> must always be the exact subject that was used when the user was originally linked as a source user.</p> <p>For de-linking a SAML identity, there are two scenarios. If the linked identity has not yet been used to sign-in, the <code>ProviderAttributeName</code> and <code>ProviderAttributeValue</code> must be the same values that were used for the <code>SourceUser</code> when the identities were originally linked in the call. (If the linking was done with <code>ProviderAttributeName</code> set to <code>Cognito_Subject</code>, the same applies here). However, if the user has already signed in, the <code>ProviderAttributeName</code> must be <code>Cognito_Subject</code> and <code>ProviderAttributeValue</code> must be the subject of the SAML assertion.</p>",
                "operationId": "AdminDisableProviderForUser",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UserNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "AliasExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "User": {
                                        "description": "The user to be disabled.",
                                        "properties": {
                                            "ProviderAttributeName": {
                                                "description": "The name of the provider attribute to link to, for example, <code>NameID</code>.",
                                                "type": "string"
                                            },
                                            "ProviderAttributeValue": {
                                                "description": "The value of the provider attribute to link to, for example, <code>xxxxx_account</code>.",
                                                "type": "string"
                                            },
                                            "ProviderName": {
                                                "description": "The name of the provider, for example, Facebook, Google, or Login with Amazon.",
                                                "maxLength": 32,
                                                "minLength": 1,
                                                "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "UserPoolId": {
                                        "description": "The user pool ID for the user pool.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "UserPoolId",
                                    "User"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AdminDisableUser": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Disables the specified user as an administrator. Works on any user.</p> <p>Requires developer credentials.</p>",
                "operationId": "AdminDisableUser",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the response received from the server to disable the user as an administrator.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UserNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the request to disable any user as an administrator.",
                                "properties": {
                                    "UserPoolId": {
                                        "description": "The user pool ID for the user pool where you want to disable the user.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                        "type": "string"
                                    },
                                    "Username": {
                                        "description": "The user name of the user you wish to disable.",
                                        "format": "password",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "UserPoolId",
                                    "Username"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AdminEnableUser": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Enables the specified user as an administrator. Works on any user.</p> <p>Requires developer credentials.</p>",
                "operationId": "AdminEnableUser",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the response from the server for the request to enable a user as an administrator.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UserNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the request that enables the user as an administrator.",
                                "properties": {
                                    "UserPoolId": {
                                        "description": "The user pool ID for the user pool where you want to enable the user.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                        "type": "string"
                                    },
                                    "Username": {
                                        "description": "The user name of the user you wish to enable.",
                                        "format": "password",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "UserPoolId",
                                    "Username"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AdminForgetDevice": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Forgets the device, as an administrator.</p> <p>Requires developer credentials.</p>",
                "operationId": "AdminForgetDevice",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidUserPoolConfigurationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "NotAuthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "UserNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InternalErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Sends the forgot device request, as an administrator.",
                                "properties": {
                                    "DeviceKey": {
                                        "description": "The device key.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+_[0-9a-f-]+",
                                        "type": "string"
                                    },
                                    "UserPoolId": {
                                        "description": "The user pool ID.",
                                        "maxLength": 55,
                                        "minLength": 1,
                                        "pattern": "[\\w-]+_[0-9a-zA-Z]+",
                                        "type": "string"
                                    },
                                    "Username": {
                                        "description": "The user name.",
                                        "format": "password",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "UserPoolId",
                                    "Username",
                                    "DeviceKey"
                                ],
                                "type": "object"
[...]
